/*Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Montserrat&display=swap');

/*NAV*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
p,h3,h4,h4{
    color: #3D405B;
}
body{
    background-color: #F4F1DE;
}

#d-home{
    background-color: #F4F1DE;
}
.nav-container{
    width: 100%;
    background-color: #E07A5F;
}
.navbar{
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}
#navbar-logo{
    color: white;
    justify-self: start;
    margin-left: 20px;
    font-family: 'Major Mono Display', monospace;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.3em;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(5,auto);
    list-style: none;
    text-align: center;
    width: 70%;
    justify-self: end;
}
.nav-links{
    color: white;
    text-decoration: none;
}
.menu-toggle .bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
.nav-menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}
#logo-link{
    text-decoration: none;
}
/*HOME*/
.about{
    padding: 15px;
    text-align: center;
}
.about p{
    padding: 15px;
}
#tiles{
    padding-bottom: 15px;
}
#tiles p, h4{
    color:white;
    text-align: center;
    padding: 10px;
}
#tiles h4{
    font-weight: bold;
}
button > a{
    color: #3D405B;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
}
.btn-space{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
.btn-one{
    background-color: #F2CC8F;
    border-radius: 4px;
}
.btn-two{
    background-color: #81B29A;
    border-radius: 4px;
}
.btn-three{
    background-color: #E07A5F;
    border-radius: 4px;
}
.btn-four{
    background-color: #F4F1DE;
    border-radius: 4px;
}
.btn-one, .btn-two, .btn-three, .btn-four{
    color: #3D405B; 
    border-radius: 4px;
    padding: 10px;
}
/*ALL IMAGES STYLE*/
figure > img{
    width:600px;
    height:300px;
}
#food-tile-india{
    background-color: #3D405B;
    width: 50%;
}
#img-tile-india{
    width: 50%;
}
#food-tile-italy{
    background-color: #F2CC8F;
    width: 50%;
}
#img-tile-italy{
    width: 50%;
}
#food-tile-china{
    background-color: #81B29A;
    width: 50%;
}
#img-tile-china{
    width: 50%;
}
#food-tile-mexico{
    background-color: #E07A5F;
    width: 50%;
}
#img-tile-mexico{
    width: 50%;
}
.row-1, .row-2, .row-3, .row-4{
    display: flex;
}
/*FOOTER*/
.proj-contribute{
    background-color: #E07A5F;
}
.proj-contribute h5{
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.names{
    padding:20px;
}

/*SEPARATE TILE PAGES*/
.d-tile{
    background-color: #F4F1DE;
    padding-bottom: 60px;
  
}
.about p{
    color:  #3D405B;
}
.row{
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
}
/*CHINA*/
.food-tile-two-china h1, p{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.food-tile-two-china{
    background-color: #3D405B;
    width: 50%;
    flex: 1;
}
.img-tile-two-china{
    flex: 1;
    width: 50%;
}
.more-info{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-text-china{
    /*display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
}
#info-text-china p{
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #F2CC8F;
}
/*INDIA*/
.food-tile-two-india h1, p{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.food-tile-two-india{
    background-color: #F2CC8F;
    width: 50%;
    flex: 1;
}
.img-tile-two-india{
    flex: 1;
    width: 50%;
}
.more-info{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-text-india{
    /*display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
}
#info-text-india p{
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #81B29A;
}
/*ITALY*/
.food-tile-two-italy h1, p{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.food-tile-two-italy{
    background-color: #F2CC8F;
    width: 50%;
    flex: 1;
}
.img-tile-two-italy{
    flex: 1;
    width: 50%;
}
.more-info{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-text-italy{
    /*display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
}
#info-text-italy p{
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #81B29A;
}
/*MEXICO*/
.food-tile-two-mex h1, p{
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.food-tile-two-mex{
    background-color: #3D405B;
    width: 50%;
    flex: 1;
}
.img-tile-two-mex{
    flex: 1;
    width: 50%;
}
.more-info{
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info-text-mex{
    /*display: flex;
    justify-content: center;
    align-items: center; */
    width: 50%;
}
#info-text-mex p{
    color: white;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    background-color: #F2CC8F;
}





























/*MOBILE*/
@media screen and (max-width: 768px){
/*NAV*/
    .nav-container{
        position: relative;
    }
    .nav-menu{
        display: grid;
        grid-template-columns: auto;
        background: #E07A5F;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    #navbar-logo{
        margin-left: 20px;
    }
    .nav-menu.active{
        background: #E07A5F;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-links{
        text-align: center;
        line-height: 20px;
        width: 100px;
        display: table;
    }
    .navbar{
      width: 100%  
    }
    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }
    .menu-toggle:hover{
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    /*HOME*/
    .row-1, .row-2, .row-3, .row-4{
        display: block;
    }
}